<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Chart</title>

    <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>
<body>

    <div class="dynamic-background"></div> 
    <div class="container">
        <h1>Monthly Expenses vs Budget</h1>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <br><br>
        <a href="/" class="button is-primary">Back to Tracker</a>
        <button id="exportButton" class="button is-primary">Export Expenses</button>

        <script src="static/js/exportData.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Total Expenses', 'Budget'],
                    datasets: [{
                        label: 'Amount (₹)',
                        data: [{{ total }}, {{ budget }}],
                        backgroundColor: [
                            'rgba(255, 159, 64, 0.6)',
                            'rgba(54, 162, 235, 0.6)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 2,
                        hoverOffset: 3
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            enabled: true
                        }
                    }
                }
            });
        </script>
    </div>

    <footer>
        <p>Track your expenses visually! <i class="fas fa-chart-pie"></i></p>
    </footer>

</body>
</html>
