<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="static/css/bulma.min.css">
</head>
<body>
    <div class="dynamic-background"></div>
    <div class="container">
        <h1 class="title has-text-centered">Expense Tracker <i class="fas fa-money-bill-wave"></i></h1>

        {% if alert %}
        <div class="notification is-danger">
            {{ alert }}
        </div>
        {% endif %}

        <ul class="list expense-list">
            {% for expense in expenses %}
            <li class="list-item is-flex is-justify-content-space-between">
                <span>{{ expense.description }} - ₹{{ expense.amount }}</span>
                <div class="buttons-container">
                    <form action="{{ url_for('remove_expense') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="expense_id" value="{{ expense.id }}">
                        <button type="submit" class="button is-danger is-small">Delete</button>
                    </form>
                    <button type="button" class="edit-button" data-id="{{ expense.id }}" data-description="{{ expense.description }}" data-amount="{{ expense.amount }}">Edit</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="modal" id="editModal">
            <div class="modal-background "></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Edit Expense</p>
                    <button class="delete modal-close" aria-label="close"></button>
                </header>
                <form action="{{ url_for('update_expense') }}" method="POST">
                    <section class="modal-card-body">
                        <input type="hidden" id="editExpenseId" name="expense_id">
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input type="text" class="input" id="editDescription" name="description" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Amount (₹)</label>
                            <div class="control">
                                <input type="number" step="1" class="input" id="editAmount" name="amount" required>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <button type="submit" class="button is-primary">Save Changes</button>
                        <button type="button" class="modal-close"></button>
                    </footer>
                </form>
            </div>
        </div>

        
        
        <div class="is-flex is-justify-content-space-between is-align-items-center mt-4">
            <p class="total-expenses">Total Expenses: ₹{{ total }}</p>
            <div>
                <button id="exportButton" class="button is-primary">Export Expenses</button>
            </div>
        </div>
        
        <p class="current-budget">Current Budget: ₹{{ budget }}</p>
        <p class="remaining-budget is-size-7">Remaining Budget: ₹{{ budget - total }}</p>

        

        <form action="/" method="POST" class="mt-4">
            <div class="field">
                <label class="label has-text-white">Expense Description</label>
                <div class="control">
                    <input type="text" id="description" name="description" class="input" placeholder="Expense description" required>
                </div>
            </div>
            <div class="field">
                <label class="label has-text-white">Amount (₹)</label>
                <div class="control">
                    <input type="number" step="1" id="amount" name="amount" class="input" placeholder="Amount (₹)" required min="0">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Add Expense</button>
                </div>
            </div>
        </form>

        <br>
        <a href="/set_budget" class="button is-primary">Change Budget</a>
        <br>
        <a href="/chart" class="button is-primary mt-4">View Expense Chart</a>
        <br>
        
        <h3 class="history-title">History</h3>
        <span class="toggle-dropdown" onclick="toggleDropdown(this)">V</span>
        <div id="deletedExpensesDropdown" class="dropdown">
            <h2 class="subtitle">Deleted Expenses</h2>
            <ul class="list">
                {% for deleted_expense in deleted_expenses %}
                <li class="list-item">{{ deleted_expense.description }} - ₹{{ deleted_expense.amount }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    

    <footer>
        <p>Track your expenses wisely! <i class="fas fa-smile"></i></p>
    </footer>
    <script src="static/js/exportData.js"></script>
    <script src="static/js/updateExpense.js"></script>

    <script>
        function toggleDropdown(element) {
            const dropdown = document.getElementById("deletedExpensesDropdown");
            dropdown.style.display = dropdown.style.display === "none" || dropdown.style.display === "" ? "block" : "none";
            dropdown.classList.toggle("show");
            element.classList.toggle("flipped");
        }
    </script>
</body>
</html>
