<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Budget</title>
    <link rel="stylesheet" href="static/css/bulma.min.css"> 
    
</head>
<body>
    <div class="dynamic-background"></div>
    <div class="container">
        <h1 class="title has-text-white">Set Your Budget</h1>
        <form action="/set_budget" method="POST" class="mt-4">
            <div class="field">
                <label class="label has-text-white">New Budget (₹)</label>
                <div class="control">
                    <input type="number" step="1" id="budget" name="budget" class="input" placeholder="Enter new budget (₹)" required min="0">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <a href="/" class="button is-primary">Back to Tracker</a>
                    <button type="submit" class="button is-primary">Update Budget</button>
                </div>
            </div>
        </form>
        <footer>
            <p>Stay on top of your spending <i class="fas fa-money-bill-wave"></i></p>
        </footer>
    </div>


   
</body>
</html>
